# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# dotenv
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# Vite / frontend
dist/
build/

# Backend upload files
uploads/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
